kornia>=0.5.8
nvitop>=0.3.6.2
monai>=0.6.0
rich>=10.7.0
nibabel>=3.2.1
einops>=0.3.0
mlflow>=1.20.1
timm>=0.4.12
scikit-image
mmcv
scipy
pandas
numpy
matplotlib
jsonargparse[signatures]
pyarrow
fastparquet
python-snappy
pytorch-lightning